/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1 {
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  margin: 0;
  padding-bottom: 10px; }

h2 {
  margin: 0;
  font-weight: 300; }

h4 {
  font-weight: 300;
  color: #737272;
  text-align: center;
  padding-top: .5em; }

h5 {
  color: #C9C9C9;
  text-align: center;
  font-weight: 300; }

p {
  font-size: 1.2em;
  font-weight: 200;
  width: 80%;
  margin: auto; }

.navbar-style {
  background-color: white;
  border: 0;
  /* border-bottom: 1px solid #3D3D3D; */ }

nav .hamburger {
  border: 1px solid #3D3D3D; }

nav .hamburger:hover {
  background-color: #3D3D3D; }
  nav .hamburger:hover .hamburger-lines {
    border: 1px solid white; }

nav .hamburger-lines {
  border: 1px solid #3D3D3D; }

nav .home-button {
  color: #3D3D3D; }

nav .home-button:hover {
  font-weight: 500; }

nav .main-buttons a {
  color: #3D3D3D; }

nav .main-buttons a:visited, nav .main-buttons a:focus {
  font-weight: 500;
  text-decoration: none;
  background-color: transparent; }

nav .main-buttons a:hover {
  font-weight: 500;
  text-decoration: none;
  background-color: #E3E3E3; }

#landing-page {
  clear: both;
  min-height: 100%;
  width: 95%;
  margin: auto;
  padding: 215px 0 275px 0; }
  #landing-page h1 {
    margin: 0; }
  #landing-page h4 {
    margin-top: 0;
    padding-top: 0; }
  #landing-page .landing-contact {
    text-align: center; }
    #landing-page .landing-contact i {
      margin: 0 0.25em;
      color: #3D3D3D; }
    #landing-page .landing-contact i:hover, #landing-page .landing-contact i:visited, #landing-page .landing-contact i:focus {
      color: black; }
  #landing-page figure {
    text-align: center;
    padding-top: 5px; }
    #landing-page figure a {
      display: inline-block;
      height: 4.25em;
      width: 4.25em;
      text-align: center;
      border-radius: 50px; }
      #landing-page figure a i {
        padding-top: 2.5px;
        color: #3D3D3D; }
    #landing-page figure a:hover {
      background-color: #E3E3E3; }

#portfolio {
  min-height: 100%;
  background-color: #77FFD6;
  padding: 75px 0; }
  #portfolio figure {
    text-align: center; }
  #portfolio .project {
    padding-top: 75px; }
    #portfolio .project .listing {
      padding: 0.5em 0.5em 2.5em 0.5em; }
      #portfolio .project .listing article {
        background-color: white;
        padding: 0.5em 0.5em;
        -moz-box-shadow: 2px 2px 3px 0 darkgray;
        -webkit-box-shadow: 2px 2px 3px 0 darkgray;
        box-shadow: 2px 2px 3px 0 darkgray; }
        #portfolio .project .listing article img {
          width: 100%;
          height: auto;
          border: 1px solid lightgray; }
        #portfolio .project .listing article h4 {
          margin-top: 0;
          padding: 0.75em 0 0 0.5em;
          text-align: left; }
      #portfolio .project .listing article:hover {
        cursor: pointer; }

#posts {
  min-height: 100%;
  background-color: #F8F8F8;
  padding: 75px 0; }
  #posts figure {
    text-align: center;
    padding-bottom: 75px; }
  #posts .blog-post {
    width: 70%;
    margin: auto;
    background-color: white;
    border-radius: 4px;
    padding: 25px 2em; }
    #posts .blog-post h4 {
      text-align: left;
      color: #3D3D3D;
      font-family: serif;
      font-weight: 300;
      font-size: 1.5em;
      cursor: pointer; }
    #posts .blog-post small {
      color: #5D6477;
      font-size: 1em;
      font-weight: 200; }
    #posts .blog-post .blog-excerpt {
      display: none;
      text-align: left;
      margin: 0;
      padding-top: .5em; }
    #posts .blog-post .post-link {
      display: none;
      text-align: right; }
    #posts .blog-post .show {
      display: block; }
  #posts .pagination {
    display: block;
    text-align: right; }
    #posts .pagination ul {
      padding: 0;
      list-style-type: none; }
      #posts .pagination ul li {
        display: inline-block;
        padding: 0 0.15em;
        font-size: 1.15em; }
        #posts .pagination ul li .disabled {
          display: none; }

#about {
  min-height: 100px;
  padding: 75px 0; }
  #about figure {
    text-align: center;
    padding-bottom: 75px; }
  #about aside img {
    border-radius: 4px;
    width: 100%;
    height: auto; }
  #about aside article p {
    text-align: left;
    width: 100%; }
  #about aside article a, #about aside article a:visited, #about aside article a:focus {
    color: #3D3D3D;
    display: block;
    padding-top: 1em;
    text-decoration: none; }
    #about aside article a i, #about aside article a:visited i, #about aside article a:focus i {
      vertical-align: middle; }
  #about aside article a:hover {
    color: black;
    text-decoration: none; }

#contact {
  min-height: 100px;
  background-color: black;
  padding: 25px 0; }
  #contact h2 {
    color: #B2B2B2;
    text-align: center; }
  #contact figure {
    text-align: center;
    padding: 25px 0; }
    #contact figure i {
      color: #B2B2B2;
      margin: 0 0.25em; }
    #contact figure i:hover, #contact figure i:visited, #contact figure i:focus {
      color: white; }
  #contact p {
    font-size: 1em;
    color: #B2B2B2;
    padding-top: 25px;
    text-align: center; }

.modal-body {
  background-color: #F8F8F8; }
  .modal-body figure {
    text-align: center;
    padding-bottom: .5em; }
    .modal-body figure img {
      width: 90%;
      height: auto;
      border: 1px solid lightgray; }
  .modal-body p {
    text-align: left;
    width: 90%;
    padding-top: 1em; }
  .modal-body .tech-stack {
    text-align: left;
    padding: 0.5em 1.5em;
    margin-bottom: 0;
    color: #3D3D3D; }
  .modal-body .ts-items {
    list-style-type: none;
    padding-left: 2.25em;
    text-align: left;
    margin: auto; }
  .modal-body i {
    padding-right: .5em; }

.modal-footer button {
  width: 100%;
  border-radius: 2.5px;
  border: none;
  background-color: #2EA9FF;
  color: #F8F8F8; }

.modal-footer button:hover, .modal-footer button:focus, .modal-footer button:visited {
  background-color: #1D6AA1;
  color: #F8F8F8; }

@media screen and (max-width: 768px) {
  #portfolio article {
    width: 75%;
    margin: auto; }
  #posts .blog-post {
    width: 95%; }
  #about aside img {
    border-radius: 2.5px;
    width: 65%;
    height: auto; } }

@media screen and (max-width: 480px) {
  #portfolio article {
    width: 95%; }
  #about aside img {
    border-radius: 2.5px;
    width: 85%;
    height: auto; }
  #about aside a {
    text-align: center; } }

.post-title {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 25px; }

.post-contact {
  margin-top: 25px; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
#landing-page:before,
.clearfix:after, #landing-page:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after, #landing-page:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
