$font-color-primary: #3D3D3D;
$font-color-scrollspy: #31343F;
$portfolio-background-color: #77FFD6;
$posts-background-color: #F8F8F8;
$foot-background-color: black;
$font-color-footer: white;

h1 {
  font-size: 4em;
  font-weight: 100;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}
h2 {
  margin: 0;
}
h4 {
  font-weight: 300;
  color: #737272;
  text-align: center;
  padding-top: .5em;
}
p {
  font-size: 1.2em;
  font-weight: 200;
  width: 80%;
  margin: auto;
  text-align: center;
}

.navbar-style {
  background-color: white;
  border: 0;
  /* border-bottom: 1px solid #3D3D3D; */
}

nav {

  .hamburger {
    border: 1px solid $font-color-primary;
  }
  .hamburger:hover {
    background-color: $font-color-primary;
    .hamburger-lines {
      border: 1px solid white;
    }
  }
  .hamburger-lines {
    border: 1px solid $font-color-primary;
  }
  .home-button {
    color: $font-color-primary;
  }
  .home-button:hover {
    font-weight: 500;
  }
  .main-buttons {

    a {
      color: $font-color-primary;
    }
    a:hover {
      font-weight: 500;
      text-decoration: none;
      background-color: #E3E3E3;
    }
    a:visited, a:focus {
      font-weight: 500;
      text-decoration: none;
    }
  }
}

#landing-page {
  @extend .clearfix;
  clear: both;
  min-height: 100%;
  width: 95%;
  margin: auto;
  padding: 250px 0;

  figure {
    text-align: center;

    a {
      display: inline-block;
      height: 4.25em;
      width: 4.25em;
      text-align: center;
      /* border: 1px solid $font-color-primary; */
      border-radius: 50px;

      i {
        padding-top: 2.5px;
        color: $font-color-primary;
      }
    }

    a:hover {
      background-color: #E3E3E3;
    }
  }
}

#portfolio {
  min-height: 100%;
  background-color: $portfolio-background-color;
  padding: 75px 0;

  figure {
    text-align: center;
  }
  .project {
    padding-top: 75px;

    .listing {
      padding: .5em .5em 0 .5em;
      padding-bottom: 2.5em;

      article {
        background-color: white;
        padding: .5em .5em;
        -moz-box-shadow:    2px 2px 3px 0 darkgray;
        -webkit-box-shadow: 2px 2px 3px 0 darkgray;
        box-shadow:         2px 2px 3px 0 darkgray;

        img {
          width: 100%;
          height: auto;
          border: 1px solid lightgray;
        }
        h4 {
          margin-top: 0;
          padding: .75em 0 0 .5em;
          text-align: left;
        }
      }
      .tech-stack {
        text-align: left;
        padding-left: 1em;
        margin-bottom: 0;
      }
      .ts-items {
        list-style-type: none;
        padding-left: 2em;
        text-align: left;
        margin: auto;
      }
      i {
        padding-right: .25em;
      }
    }
  }
}

#posts {
  min-height: 100%;
  background-color: $posts-background-color;
  padding: 75px 0;

  figure {
    text-align: center;
    padding-bottom: 50px;
  }
  .blog-post {
    width: 65%;
    margin: auto;
    background-color: white;
    border-radius: 4px;
    padding: 25px 2em;

    h2 {
      font-family: serif;
      font-weight: 300;
      font-size: 2.5em;
      cursor: pointer;
    }
    h2:hover {
      font-size: 3em;
    }
    small {
      color: #5D6477;
      font-size: 1em;
      font-weight: 200;
    }
    .blog-excerpt {
      display: none;
      text-align: left;
      margin: 0;
      padding-top: .5em;
      font-family: serif;
    }
    .show {
      display: block;
    }
  }
}

#about {
  min-height: 100px;
  padding: 75px 0;
}

#contact {
  min-height: 100px;
}

footer {
  background-color: $foot-background-color;
}







.body-container {
  color: #393A3B;
  font-family: serif;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: white;
  padding: 0 1.5em 15em 1.5em;
  border-radius: 10px;

  div {
    display: none;
  }

  .section-current {
    display: block;
  }

  #section-2 {
    margin-top: 2.5em;

    .blog-post {
    }
  }

  #section-3 {
    margin-top: 2.5em;

    h4 {
      font-family: sans-serif;
      font-weight: lighter;
      color: #B5B5B5;
      padding: 0;
      margin:0;
    }
  }
}

.post-header {
  background-color: #31343F;
  @extend .clearfix;
  margin-bottom: 2em;

  h1 {
    float: left;
    font-size: 1.5em;
    padding: 1em;
  }

  a {
    float: right;
    text-decoration: none;
    margin: 1.15em;
    color: white;
    border: .25ex solid white;
    width: 5em;
    line-height: 2.5em;
    text-align: center;
  }

  a:hover {
    background-color: white;
    color: #31343F;
  }
}

.post-footer {
  background-color: #31343F;
  color: white;
  font-size: 1.25ex;
  font-weight: 300;
  padding: 0;
  padding-bottom: .5em;
  margin: 0;
  text-align: center;

  p {
    display: inline-block;
  }

  .social-links {

    p {
      display: inline-block;
      margin-top: 0;

      a {
        display: block;
        text-decoration: none;
        color: white;
        border: .25ex solid white;
        width: 5em;
        line-height: 2.5em;
        border-radius: 5px;
      }

      a:hover {
        background-color: white;
        color: #31343F;
      }
    }
  }
}

.footer {
  color: white;
  font-size: 1.5ex;
  font-weight: 300;
  padding: 0;
  padding-bottom: .5em;
  margin: 0;
  text-align: center;

p {
  margin: 0;
  padding-top: 1.25em;
}

  .social-links {
    list-style-type: none;
    margin: 0;
    padding: 1.25em 0;

    li {
      display: inline-block;
      margin: 0 .25em;

      a {
        display: block;
        text-decoration: none;
        color: white;
        border: .25ex solid white;
        width: 5em;
        line-height: 2.5em;
        border-radius: 2.5px;
      }

      a:hover {
        background-color: white;
        color: #31343F;
      }
    }
  }
}
