$font-color-primary: #3D3D3D;
$portfolio-background-color: #77FFD6;
$posts-background-color: #7AD9FF;
$about-background-color: black;
$font-color-about: white;

.landing-page {
  @extend .clearfix;
  clear: both;
  min-height: 800px;
}
.main-menu {
  display: inline-block;
  padding: 0;

  .main-buttons {
    display: inline-block;
    margin-right: .5%;
    margin-left: .5%;
    list-style-type: none;
    cursor: pointer;

    a {
      display: block;
      width: 6em;
      text-decoration: none;
      color: white;
      border: .4ex solid white;
      border-radius: 2px;
      font-size: 1.5ex;
      line-height: 3em;
    }
  }

  .email-button {
    display: inline-block;
    margin-right: .5%;
    margin-left: .5%;
    list-style-type: none;
    cursor: pointer;

    a {
      display: block;
      width: 6em;
      text-decoration: none;
      color: white;
      border: .4ex solid white;
      border-radius: 2px;
      font-size: 1.5ex;
      line-height: 3em;
    }
  }

  .tab-current {
    background-color: white;
    border-radius: 2px;

    a {
      color: #31343F;
      background-color: white;
      border-radius: 2px;
      font-weight: bold;
    }
  }

  .main-buttons:hover {
    background-color: white;
    border-radius: 2px;

    a:hover {
      color: #31343F;
      font-weight: bold;
    }
  }

  .email-button:hover {
    background-color: white;
    border-radius: 2px;

    a:hover {
      color: #31343F;
      font-weight: bold;
    }
  }
}

.body-container {
  color: #393A3B;
  font-family: serif;
  margin-left: 2.5%;
  margin-right: 2.5%;
  background-color: white;
  padding: 0 1.5em 15em 1.5em;
  border-radius: 10px;

  div {
    display: none;
  }

  .section-current {
    display: block;
  }

  #section-1 {
    margin-top: 2.5em;

    h4 {
      font-family: sans-serif;
      font-weight: lighter;
      color: #B5B5B5;
      padding: 0;
      margin:0;
    }

    h5 {
      font-family: sans-serif;
    }

    .recent-posts {
      a {
        text-decoration: none;
        color: #9B9B9A;
        font-family: sans-serif;
      }
    }
  }

  #section-2 {
    margin-top: 2.5em;

    .blog-post {

      .small {
        display: inline-block;
        width: 13%;
        text-align: right;
        vertical-align: top;
        padding-right: 2.5%;
        font-size: 1.5ex;
        font-family: sans-serif;
        color: #B6B5B6;
       }

      .blog-content {
        display: inline-block;
        width: 75%;
        padding-left: 1.5%;

        h4 {
          /* font-size: 2.25ex; */
          font-family: sans-serif;
          margin: 0;
          cursor: pointer;
        }

        .blog-excerpt {
          display: none;

          a {
            text-decoration: none;
            font-family: serif;
            font-size: 2ex;
            color: #80A6CD;
          }
        }

        .show {
          display: block;
        }
      }
    }
  }

  #section-3 {
    margin-top: 2.5em;

    h4 {
      font-family: sans-serif;
      font-weight: lighter;
      color: #B5B5B5;
      padding: 0;
      margin:0;
    }
  }
}

.post-header {
  background-color: #31343F;
  @extend .clearfix;
  margin-bottom: 2em;

  h1 {
    float: left;
    font-size: 1.5em;
    padding: 1em;
  }

  a {
    float: right;
    text-decoration: none;
    margin: 1.15em;
    color: white;
    border: .25ex solid white;
    width: 5em;
    line-height: 2.5em;
    text-align: center;
  }

  a:hover {
    background-color: white;
    color: #31343F;
  }
}

.post-footer {
  background-color: #31343F;
  color: white;
  font-size: 1.25ex;
  font-weight: 300;
  padding: 0;
  padding-bottom: .5em;
  margin: 0;
  margin-top: 27.5em;
  text-align: center;

  p {
    display: inline-block;
  }

  .social-links {

    p {
      display: inline-block;
      margin-top: 0;

      a {
        display: block;
        text-decoration: none;
        color: white;
        border: .25ex solid white;
        width: 5em;
        line-height: 2.5em;
        border-radius: 5px;
      }

      a:hover {
        background-color: white;
        color: #31343F;
      }
    }
  }
}

.footer {
  background-color: #31343F;
  color: white;
  font-size: 1.5ex;
  font-weight: 300;
  padding: 0;
  padding-bottom: .5em;
  margin: 0;
  margin-top: 3em;
  text-align: center;

p {
  margin: 0;
  padding-top: 1.25em;
}

  .social-links {
    list-style-type: none;
    margin: 0;
    padding: 1.25em 0;

    li {
      display: inline-block;
      margin: 0 .25em;

      a {
        display: block;
        text-decoration: none;
        color: white;
        border: .25ex solid white;
        width: 5em;
        line-height: 2.5em;
        border-radius: 2.5px;
      }

      a:hover {
        background-color: white;
        color: #31343F;
      }
    }
  }
}
