<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{page.title}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--bower:css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
        <!--endbower-->
        <link rel="stylesheet" href="{{ site.url }}/css/main.css">
    </head>
    <body>
      <main class="container">
        <header class="post-header">
            <div class="header-title">
              <h1>Sean Joyal</h1>
              <a href="http://sjoyal.github.io">HOME</a>
            </div> <!-- .header-title -->
        </header>
        <div class="body-container">
          <h2>{{page.title}}</h2>

          {{ content }}

        </div> <!-- .body-container -->
        <footer class="post-footer">
          <div class="copyright">
            <p>©2015 Sean Joyal. All rights reserved.</p>
          </div> <!--.copyright-->
          <div class="social-links">
            <p><a href="https://github.com/sjoyal">GitHub</a></p>
            <p><a href="https://twitter.com/s_joyal">twitter</a></p>
            <p><a href="https://www.linkedin.com/in/sjoyal">Linkedin</a></p>
          </div> <!--.social-links-->
        </footer> <!--.footer-->
      </main> <!-- .container -->
    </body>
      <!--bower:js-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
      <!--endbower-->
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
      <script src="../js/plugins.js"></script>
      <script src="../js/main.js"></script>
    </body>
</html>
